---
import CardDemo from "../components/Card-Demo.astro";
import FooterDemo from "../components/Footer-Demo.astro";
import LayoutMain from "../layouts/Layout-Main.astro";
---

<LayoutMain>
    <article>
        <p>asdasd</p>
    </article>


    <CardDemo/>
    <FooterDemo/>
</LayoutMain>