<section class="h-full my-20 md:h-screen">
   <div class="bg-[#B1C5FF] w-10/12 h-full mt-20 mx-auto flex flex-col justify-center align-middle md:flex-row md:h-[85vh] ">
        <figure class="flex-auto w-full md:w-80 bg-green-600">
            <img class="w-full h-full object-cover object-right" src="images/ableton-about.jpg" alt="">
        </figure>   
        <div class="flex-auto h-full w-full px-[4rem] py-20 md:px-[7rem] md:mt-28 md:w-80">
            <p class="font-semibold  text-[1.05rem] tracking-wide leading-normal md:text-2xl">We’re really proud of the work we’ve done so far. But there’s so much more to come. If you’d like to be a part of it, please join us.</p>
            <a href="" class="h-auto pt-4 flex items-center text-xl font-semibold text-[#0000FF] md:text-2xl"> See latest jobs<i class='pt-0.5 bx bx-chevron-right'></i></a>
        </div>
   </div>
</section>