---
export interface Props{
    title: string
    detail: string
    plus?: string
}

const {title, detail, plus} = Astro.props;
---

<section class="container w-[85vw] mx-auto my-20 md:w-[50vw] md:my-32 2xl:px-[20rem]">
    <h1 class="text-left font-semibold text-[1.15rem] leading-normal md:text-[1.6rem]">{title}</h1>
    <p class="mt-5 font-normal leading-relaxed text-[0.9rem] md:text-[1.1rem]">{detail}</p>
    {
        plus && <p class="mt-5 font-normal leading-relaxed text-[0.9rem] md:text-[1.1rem]">{plus}</p>
    }
</section>