<section class="w-full h-full flex justify-center">
    <div class="bg-[#D5B3FF] w-8/12 h-full flex items-center py-14 md:py-28">
        <figure class="w-[70rem] items-center relative -left-10 md:-left-28">
            <img class="w-full" src="images/6.jpg" alt="">    
        </figure>
        <figure class="w-[90rem] h-full items-center relative -right-[25%]">
            <img class="w-full" src="images/7.jpg" alt="">
        </figure>
    </div>
</section>