<section class="w-full h-full flex items-center justify-center">
    <figure class="relative w-[85%] h-full">
        <img class="image__header w-full object-cover" src="images/header.jpg" alt="" srcset="">
    </figure>
    <p class="absolute top-auto text-[4rem] md:text-[7rem] font-medium text-[#FD5948]">Ableton</p>
</section>

<style>
    .image__header{
        height: calc(100vh - 120px);
    }
</style>