<ul class="flex text-lg font-medium gap-7">
    <li class="pl-9"><a href="/">Live</a></li>
    <li><a href="/">Push</a></li>
    <li><a href="/">Note</a></li>
    <li><a href="/">Link</a></li>
    <li><a href="/">Shop</a></li>
    <li><a href="/">Packs</a></li>
    <li><a href="/">Help</a></li>
    <li><p class="text-[#FD5948] flex items-center gap-1 hover:cursor-pointer">More <i class='bx bx-plus h-full pt-1' ></i></p></li>
</ul>

<!-- <i class='bx bx-minus' ></i> -->