<div>
    <ul class="flex gap-5 text-[.95rem]">
        <li><a class="text-[#FD5948]" href="/">About</a></li>
        <li><a href="/">Jobs</a></li>
        <li><a href="/">Apprenticeships</a></li>
    </ul>
</div>