<section class="flex gap-2.5 mt-3">
    <a class="bg-[#3477F2] px-1 py-0.5 text-3xl" href=""><i class='bx bxl-facebook-circle'></i></a>
    <a class="bg-[#1DA1F2] px-1 py-0.5 text-3xl" href=""><i class='bx bxl-twitter' ></i></a>
    <a class="bg-[#FF001D] px-1 py-0.5 text-3xl" href=""><i class='bx bxl-youtube' ></i></a>
    <a class="bg-[#F77737] px-1 py-0.5 text-3xl" href=""><i class='bx bxl-instagram' ></i></a>
</section>

<style>
    .bx{
        color: white;
    }
</style>