---
import '../styles/main.css'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ableton | Demo</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://css.gg/play-button.css' rel='stylesheet'>
</head>
<body class="bg-zinc-200">
    <main id="main" class="bg-white">
        <slot/>
    </main>

    <script src="../js/menu-display"></script>
    <script src="../js/video-demo"></script>
</body>
</html>